/*
#interactive.viewport {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius:10px 10px 0px;
}
*/
#interactive.viewport canvas,
video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius:2em 2em 0px;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius:2em 2em 0px;
}
