* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.action-btn {
  position: fixed;
  z-index: 100;
  font-size:2em;
  bottom: 2em;
  right : 2em;
  height: 2em;
  width : 2em;
  border-radius: 4em;
  background: coral;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
}

.sheet {
  z-index: 100;
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0px;
  background: #fff;
  touch-action: none;
}
